.pessoas-hud {
    display: block;
    background-color: rgb(189, 189, 189);
    width: 99%;
    height: 99%;
    border-radius: 4px;
    opacity: 1;
}

.pessoas-hud-wrapper {
    display: flex;
    width: 100%;
    height: 16%;
}

.pessoas-hud-wrapper .pessoas-form-box {
    width: 76%;
    height: 100%;
    background-color: black;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
}

.pessoas-hud-wrapper .pessoas-submission-box {
    background-color: rgb(0, 0, 0);
    width: 24%;
    height: 100%;
    padding-top: 1px;
    padding-bottom: 1px;
}

.pessoas-submission-box button {
    width: 100%;
    height: 50%;
    overflow: hidden;
}
.pessoas-form-box #actions-add {
    display: flex;
    gap: 2px;
    padding-left: 2px;
    height: 100%;
    align-items: center;
}

#text-age, #text-name {
    width: 27%;
    height: 40%;
    text-align: center;
}

#pessoas-actions-transaction-select {
    height: 50%;
    width: 33%;
    padding: 0;
    text-align: center;
    border-radius: 2px;
    color: gray;
}

#actions-list {
    width: 100%;
    height: 100%;
    padding-top: 1px;
    
}
.actions-list-input {
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
}
