.transacoes-hud {
    display: block;
    background-color: rgb(189, 189, 189);
    width: 99%;
    height: 99%;
    border-radius: 4px;
    opacity: 1;
}

.transacoes-hud-wrapper {
    display: flex;
    width: 100%;
    height: 16%;
}

.transacoes-hud-wrapper .transacoes-form-box {
    width: 76%;
    height: 100%;
    background-color: black;
    padding-right: 2px;
    padding-bottom: 2px;
}

.transacoes-hud-wrapper .transacoes-submission-box {
    background-color: rgb(0, 0, 0);
    width: 24%;
    height: 100%;
    padding-bottom: 1px;
    padding-top: 1px;
}

.transacoes-submission-box button {
    width: 100%;
    height: 50%;
    overflow: hidden;
}
.transacoes-form-box #actions-add {
    display: flex;
    gap: 2px;
    padding-left: 2px;
}

.transacoes-form-box #actions-list {
    display: flex;
    gap: 2px;
    padding-left: 2px;
}
#actions-add {
    width: 100%;
    height: 50%;
}
.actions-add-input {
    width: 100%;
    height: 80%;
    text-align: center;
    
}
#actions-type-select, #actions-person-select {
    height: 100%;
    background-color:white;
    padding: 0;
    text-align: center;
    color: gray;
    border-radius: 2px;
}

#actions-type-select option,
#actions-person-select option {
  color: black;
}


#actions-list {
    width: 100%;
    height: 50%;
    padding-top: 1px;
}
.actions-list-input {
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
}
