* {
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
}

body {
  height: 100vh;
}

body #root {
  height: 100%;
  position: relative;
}

html::-webkit-scrollbar {
  width: 0px;
  background: white;
}

html::-webkit-scrollbar-thumb {
  background: transparent;
}